server_name: "localhost"
pid_file: /data/homeserver.pid
listeners:
  - port: 8008
    tls: false
    type: http
    x_forwarded: true
    bind_addresses: ['0.0.0.0']
    resources:
      - names: [client, federation]
        compress: false

database:
  name: sqlite3
  args:
    database: /data/homeserver.db

log_config: "/data/localhost.log.config"
media_store_path: /data/media_store
registration_shared_secret: "changeme_registration_secret"
report_stats: false
macaroon_secret_key: "changeme_macaroon_secret"
form_secret: "changeme_form_secret"
signing_key_path: "/data/localhost.signing.key"

trusted_key_servers:
  - server_name: "matrix.org"

enable_registration: true
enable_registration_without_verification: true
