networks:
  microservices-net:
    external: true

volumes:
  traefik_certs:

services:
  traefik:
    image: docker.io/library/traefik:v3.4.1
    container_name: traefik
    restart: unless-stopped
    env_file: ../../.env
    ports:
      - "80:80" # HTTP
      - "443:443" # HTTPS
      - "8080:8080" # Dashboard
    volumes:
      - ../../config/traefik:/etc/traefik/:ro
      - ../../config/traefik/certs/:/var/traefik/certs/:rw
      - /run/podman/podman.sock:/var/run/podman/podman.sock:ro
    networks:
      - microservices-net
    labels:
      # Enable Traefik for the dashboard
      - "traefik.enable=true"
      - "traefik.http.routers.traefik-dashboard.rule=Host(`traefik.test`)"
      - "traefik.http.routers.traefik-dashboard.entrypoints=websecure"
      - "traefik.http.routers.traefik-dashboard.tls=true"
      - "traefik.http.services.traefik-dashboard.loadbalancer.server.port=8080"
      - "traefik.http.routers.traefik-dashboard.service=api@internal"