global:
  checkNewVersion: false
  sendAnonymousUsage: false

log:
  level: INFO

accesslog: {}

api:
  dashboard: true
  insecure: true

entryPoints:
  web:
    address: :80
    # http:
    #   redirections:
    #     entryPoint:
    #       to: websecure
    #       scheme: https
  websecure:
    address: :443

serversTransport:
  insecureSkipVerify: true

# Add global TLS configuration for development
tls:
  options:
    default:
      sslProtocols:
        - "TLSv1.2"
        - "TLSv1.3"
      minVersion: "VersionTLS12"

providers:
  # File provider for static configuration
  file:
    directory: /etc/traefik
    watch: true
  
  # Docker provider configured for ROOT Podman
  docker:
    endpoint: "unix:///var/run/podman/podman.sock"
    network: microservices-net
    exposedByDefault: false
    watch: true