version: "3.8"

networks:
  microservices-net:
    external: true

volumes:
  prometheus_data:

services:
  prometheus:
    container_name: prometheus
    image: prom/prometheus:latest
    user: "0"
    ports:
      - "127.0.0.1:9090:9090"  # Local access to Prometheus
    volumes:
      - ../config/prometheus:/etc/prometheus:ro
      - prometheus_data:/prometheus
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--storage.tsdb.path=/prometheus"
      - "--web.console.libraries=/usr/share/prometheus/console_libraries"
      - "--web.console.templates=/usr/share/prometheus/consoles"
    networks:
      - microservices-net